<div class="flex-content-container">
  <h1><%= link_to 'Oasis at Wild Horse Ranch', 'http://www.wldhorse.com', style: 'color: white' %></h1>
  <h4>6801 N Camino Verde, Tucson, AZ 85743</h4>
  <br />
  <br />
  <h2>Friday, April 2nd, 2021</h2>
  <br />
  <h3>Ceremony: 5:30 p.m.</h3>
  <h3>Cocktails: 6:00 p.m.</h3>
  <h3>Dinner: 7:00 p.m.</h3>
</div>