<div class="flex-content-container">
  <h1><%= link_to 'Disney', 'https://disney.honeymoonwishes.com/Honeymoon-Registry-412528-Walt-Disney-World-Resort-Adeline-Margaillan-Frank-Chacon.html', style: 'color: white' %></h1>
  <br />
  <br />
  <h1><%= link_to 'Amazon', 'https://www.amazon.com/wedding/adeline-margaillan-frank-chacon-tucson-april-2021/registry/MOOJM5JP2J9U', style: 'color: white' %></h1>
</div>