<!-- <form class="container">
  <h12 class="card-header">Kindly Respond by March 1, 2021</h12>
  <br />
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input class="form-control" id="exampleFormControlInput1" placeholder="First Last">
  </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Who is coming with you?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Any kids under 12?</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-light">Submit</button>
</form> -->


<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdWtCEqdtJk-eY_pd10qUeTxyudgGQL8POV8ttpiQccKObZOQ/viewform?embedded=true" width="640" height="1110" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
